<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ChatME | Sign Up</title>
        <meta name="description" content="Helloo, can u test our project?">
        <!-- Tailwind css -->
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
        <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="assets/css/styles.css" />
    </head>
    <body>

<!-- Main modal -->
<div style="visibility: hidden;opacity: 0; transition: 0.7s;" id="terms-conditions" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Terms And Privacy
                </h3>
                <button id="hide-modal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Last Update: 07-14-23
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">This privacy notice for Chat-Libyzxy0 (doing business as [Chat]) (“Company,” “we,” “us,” or “our“), describes how and why we might collect, store, use, and/or share (“process“) your information when you use our services (“Services“), such as when you:
                </p>
               <li class="text-base leading-relaxed text-gray-500 dark:text-gray-400">Visit our website at https://chat.libyzxy0.repl.co, or any website of ours that links to this privacy notice.</li>
              <li class="text-base leading-relaxed text-gray-500 dark:text-gray-400">Interacting with us</li>
              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>Questions or concerns?</b> Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact us at janlibydelacosta@gmail.com.</p>
              <h1 class="text-2xl leading-relaxed text-gray-500 dark:text-gray-400">SUMMARY OF KEY POINTS</h1>
              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>This summary provides key points from our privacy notice, but you can find out more details about any of these topics by using our table of contents below to find the section you are looking for.</b>
              </p>
              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>What personal information do we process?</b> When you visit, use, or navigate our Services, we may process personal information depending on how you interact with [Company Name] and the Services, the choices you make, and the products and features you use.</p>

<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>Do we process any sensitive personal information?</b> [We do not process sensitive personal information. / We may process sensitive personal information when necessary with your consent or as otherwise permitted by applicable law.]</p>

<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>Do you receive any information from third parties?</b> We may receive information from public databases, marketing partners, social media platforms, and other outside sources.</p>

<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>How do you process my information?</b> We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent. We process your information only when we have a valid legal reason to do so.</p>

<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>In what situations and with which types of parties do we share personal information?</b> We may share information in specific situations and with specific categories of third parties.</p>

<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>How do we keep your information safe?</b> We have organizational and technical processes and procedures in place to protect your personal information. However, no electronic transmission over the internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information.</p>

<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>What are your rights?</b> Depending on where you are located geographically, the applicable privacy law may mean you have certain rights regarding your personal information.</p>

<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"><b>How do I exercise my rights?</b> The easiest way to exercise your rights is by filling out our data subject request form available here: [DSAR Form URL], or by contacting us. We will consider and act upon any request in accordance with applicable data protection laws.</p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button id="accept-tc" data-modal-hide="staticModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                <button id="decline-tc" data-modal-hide="staticModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
            </div>
        </div>
    </div>
</div>

      <style>
        html {
          overflow: hidden;
        }
      </style>
        <div class="preloader">
            <div class="spinner"></div>
        </div>
        <section style="background-color: #222831;">
            <div style="margin-top: 3px;" class="container px-6 py-14 mx-auto">
                <div class="lg:flex">
                    <div class="lg:w-1/2">
                        <h1 style="font-family: 'Ubuntu', sans-serif; color: white;" class="mt-1 text-2xl font-medium text-gray-800 capitalize lg:text-3xl dark:text-white">
                        Create an account
                        </h1>
                    </div>

                    <div class="mt-8 lg:w-1/2 lg:mt-0">
                        <form id="form" class="w-full lg:max-w-xl">
                            <div class="relative flex items-center mt-4">
                                <input
                                    style="font-family: 'Rubik', cursive; background-color: #222831; color: white; height: 2.7rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                                    id="username"
                                    type="text"
                                    class="block w-full text-white-400 bg-white rounded-lg px-3 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                                    placeholder="Username"
 autocomplete="false"                                 
                                />
                            </div>
<div class="relative flex items-center mt-4">
                                <input
                                    style="font-family: 'Rubik', cursive; background-color: #222831; color: white; height: 2.7rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                                    id="firstName"
                                    type="text"
                                    class="block w-full text-white-400 bg-white rounded-lg px-3 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                                    placeholder="First Name"
 autocomplete="false"/>
</div>                              <div class="relative flex items-center mt-4">
                                <input
                                    style="font-family: 'Rubik', cursive; background-color: #222831; color: white; height: 2.7rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                                    id="lastName"
                                    type="text"
                                    class="block w-full px-3 py-3 text-white-400 bg-white rounded-lg px-3 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                                    placeholder="Last Name"
 autocomplete="false"                         />
</div>

                            <div class="relative flex items-center mt-4">
                                <input
                                    style="font-family: 'Rubik', cursive; background-color: #222831; color: white; height: 2.7rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                                    id="password"
                                    type="password"
                                    class="block w-full px-3 py-3 text-white-400 bg-white rounded-lg dark:bg-gray-900 dark:text-white-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                                    placeholder="Password"
 autocomplete="false"                                
                                />
                            </div>
                                                      <div class="relative flex items-center mt-4">
                                <input
                                    style="font-family: 'Rubik', cursive; background-color: #222831; color: white; height: 2.7rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                                    id="cpassword"
                                    type="password"
                                    class="block w-full px-3 py-3 text-white-400 bg-white rounded-lg dark:bg-gray-900 dark:text-white-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                                    placeholder="Confirm Password"
 autocomplete="false"                                
                                />
                                                      </div>
                          

                            <div style="font-family: 'Rubik', cursive;" class="mt-8 md:flex md:items-center">
                                <button
                                    style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                                    class="w-full px-5 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg md:w-1/2 hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50"
                                >
                                             Create my Account                               </button>

            <a style="font-family: 'Rubik', cursive;" id="show-tc" class="inline-block mt-4 text-center text-blue-500 md:mt-0 md:mx-6 hover:underline dark:text-blue-400">
                Terms and Privacy
            </a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="mt-8 md:mt-24 sm:flex sm:items-center">
                    <a href="/login" style="font-family: 'Rubik', cursive;" class="text-blue-500 dark:text-blue-400 sm:w-1/2">Have an account? Sign in</a>
                </div>
            </div>
        </section>

        <div
            style="visibility: hidden; opacity: 0; transition: 0.5s;"
            id="toast"
            class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg shadow bottom-5 left-5 dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
            role="alert"
        >
            <div id="toast-text" class="text-sm font-normal"></div>
        </div>

        <script>
            //Preloader
            window.addEventListener("load", function () {
                var preloader = document.querySelector(".preloader");
                setTimeout(() => {
                    preloader.style.visibility = "hidden";
                    preloader.style.opacity = "0";
                }, 1000);
            });
        </script>
        <script src="assets/js/signup.js"></script>
    </body>
</html>
